# macOS
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Editor folders
.vscode/
.idea/

# Logs
*.log

# In case npm is ever introduced
node_modules/
